@CHARSET "ISO-8859-1";

html {
	height: 100%;
}
body {
	/*background: url(../images/macback.png); */			
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: geneva, arial, helvetica, sans-serif;
	font-size:70%;
}
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}
h13 {
	font-size: 1.6em;
	font-weight: bold;
}

.ui-layout-north {
	z-index:20 !important; 
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
}

/*
.ui-layout-west {
	z-index:5 !important; 
    overflow:visible !important;
}

.ui-layout-west .ui-layout-unit-content {
	overflow:visible !important;
}
*/

/*
.ui-notificationbar {
	z-index:10 !important;
}
*/

/*
.ui-accordion {
	z-index:10 !important; 
    overflow:visible !important;
}

.ui-accordion .ui-accordion-content {
	overflow:visible !important;
} */

.ui-menuitem-icon.ui-icon.appleIcon {
	background: url(../images/apple.png) no-repeat;
    width:16px;
    height:16px;
    border-radius:0px;
}							
.notificationBar {
	filter:alpha(opacity=80);
	opacity:0.8;
	padding:50px 0 0 50px;
}
.align-l{
	text-align : left;
}			
.align-r{
	text-align : right;
}		
.align-c{
	text-align : center;
}	

#unit_north {
    padding:0.5px;
}

#unit_south {
    padding:0px;
}

#unit_center_north_content{
    padding:0.5px;
}