<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    template="/default-template/templates/editionViewTemplate.xhtml">

    <ui:param name="viewController" value="#{serviceCrudeController}" />	
    <ui:define name="currentViewTitle" > {msg['application.fonction.form.services']} </ui:define>		
    <ui:define name="currentViewDefaultContent" >  	
        <h:panelGrid width="100%" columns="2" >		
            <h:panelGrid width="100%" columns="2" >
                <p:outputLabel value="#{msg['application.form.field.code']}" for="code" />
                <h:panelGroup>
                    <p:inputText id="code" value="#{wrapped.idService}" required="true" disabled="#{viewHelper.editionModeIsModification}"  />
                    <p:message  for="code" />
                </h:panelGroup>

                <p:outputLabel value="#{msg['application.form.field.libel']}" for="libelle" />
                <h:panelGroup>
                    <p:inputText id="libelle" value="#{wrapped.nomService}" required="true" style="width:80%" />
                    <p:message  for="libelle" />
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid width="100%" columns="2" >
                    <p:outputLabel value="#{msg['application.form.field.sigle']}" for="Capacity" />
                    <h:panelGroup>
                            <p:inputText id="Capacity" value="#{wrapped.sigleService}" required="true" style="width:80%" />
                            <p:message  for="Capacity" />
                    </h:panelGroup>				
            </h:panelGrid>

            </h:panelGrid>

    </ui:define>					

</ui:composition>
