
    html {
            height: 100%;
    }
    body {
            //background: url(images/macback.png);	
            background: url("#{request.contextPath}/resources/images/macback.png");			
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: geneva, arial, helvetica, sans-serif;
            font-size:80%;
    }		
    #layout-table {
            height: 100%;
            width: 100%;
            border-collapse: collapse;
            /*text-align: center;*/
    }				
    #layout-td {
            height: 100%;
            padding: 0;
            vertical-align: middle;
    }

    div#message-container{
            width: 600px;
            margin: 0 auto;
            text-align : center;
    }

    div#login-container{
            width: 400px;
            margin: 0 auto;
            /*border:1px dotted black;*/	/*border : width style color*/
            /*text-align : center */
    }

    div#locale-container{
            width: 400px;
            margin: 0 auto;
            text-align : center;
    }	

    .align-l{
            text-align : left;
    }	

    .align-r{
            text-align : right;
    }

    .align-c{
            text-align : center;
    }		
