<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <p:megaMenu>
        <p:submenu icon="appleIcon">
            <p:column>
                <p:submenu style="margin:0; padding:0; height:0; width:0">
                    <p:menuitem value="#{msg['view.home.home']}" url="#" icon="ui-icon ui-icon-home" />
                    <p:separator />
                    <p:menuitem value="#{msg['view.home.logout']}"  action="#{shiroLoginController.logout()}" icon="ui-icon ui-icon-power" />
                </p:submenu>
            </p:column>
        </p:submenu>

        <ui:include src="/ui/biblio/include/menu.xhtml" />		

    </p:megaMenu>

</ui:composition>