<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <table style="width:100%;" cellspacing="1" cellpadding="0" >
        <tr>
            <td align="left">  
                <h1>
                    <ui:insert name="currentViewTitle" > Entete Formulaire </ui:insert>					
                </h1>
            </td>
            <td align="right" > 				 
                <h:panelGrid cellspacing="0" cellpadding="0" >				
                    <p:tabMenu  activeIndex="#{activeViewIndex}" >
                        <ui:insert name="viewTypeList" >					
                            <p:menuitem value="Rechercher" action="#{viewController.getNavigationRuleToListView}" 		immediate="true" rendered="#{! empty viewController.navigationRuleToListView}"			icon="ui-icon-search"  />
                            <p:menuitem value="Consulter"  action="#{viewController.getNavigationRuleToDisplayView}"  	immediate="true" rendered="#{! empty viewController.navigationRuleToDisplayView}"		icon="ui-icon-zoomin" />
                            <p:menuitem value="Editer" 	   action="#{viewController.create}" 			 			immediate="true" rendered="#{! empty viewController.navigationRuleToCreationView}"		 />								
                        </ui:insert>
                    </p:tabMenu>
                </h:panelGrid>
            </td>
        </tr>

    </table>

</ui:composition>
